<ul>
<li>
  <strong>User:</strong>
  <%= review.user.first_name %>
</li>

<li>
  <strong>Description:</strong>
  <%= review.description %>
</li>

<li>
  <strong>Rating:</strong>
  <%= review.rating %>
</li>
<% if review.user == current_user %>
  <li>
  DELETE
  <%= link_to fa_icon('trash'), [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
</li>
<% end %>
</ul>